# IDE
.idea/
.vscode/

# Python
*.pyc
*.pyo
*.pyd
*.pyc3
__pycache__/
venv/
ENV/
env/
*.env

# OS
.DS_Store

# Django
db.sqlite3

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/

# Large files
*.log
*.tar
*.gz
*.zip

# Static files
/static/
/media/

# Migrations
migrations/
